#home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 1rem;
  gap: 10px;
}



#daily-focus-section {
    border: 2px solid #ff00ff;
  box-shadow: 0 2px 6px #ff00ff;
}

#pinned-notes-home {
     border: 2px solid #ff00ff;
  box-shadow: 0 2px 6px #ff00ff;
}

#quote-section {
  color: #f4f4f5;
  background-color: #1f1f24;
   border: 2px solid #ff00ff;
  box-shadow: 0 2px 6px #ff00ff;
  text-align: center;
}

#quote-section p {
  margin-top: 5px;
}